{erl_opts, [debug_info]}.
{deps, [
        meck
       ,mock
       ,hoax
       ,kafka_ex_mock
       ,module_mocker
       ,mockgyver
       ]}.

{relx, [{release, { myapp, "0.1.0" },
         [myapp,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
